/* Estilos gerais para todas as páginas */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* Estilos para telas menores (até 768px de largura) */
  @media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    #times {
      flex-direction: column;
    }
  
    #times > div {
      width: 100%;
      margin-bottom: 20px;
    }
  
    #controles {
      flex-direction: column;
    }
  
    #controles > div {
      width: 100%;
      margin-bottom: 10px;
    }
  }